# MATH 210 Introduction to Mathematical Computing

**January 13, 2025**

* Variables
* Sequence Types
* Builtin Function for Sequences

## Variables

Use variables to easily modify and combine values together. A variable name must start with a letter (or underscore). Don't use any reserved words as variable names.

Fore example, let's setup a few lines of code to compute the norm of a vectors $\vec{v} = (x,y)$.

$$
\| \vec{v} \| = (x^2 + y^2)^{1/2}
$$

In [1]:
x = 1
y = 1
norm = (x**2 + y**2)**(0.5)
print(norm)

1.4142135623730951

## Sequence Types

There are 3 main sequence types: list, tuple and range. Create a list of numbers using square brackets `[1,2,3]`.

In [2]:
v = [1,-2]

In [3]:
print(v)

[1, -2]

In [4]:
primes = [2,3,5,7,11,13,17,19,23,29,31,37,41]

In [5]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

In [6]:
type(primes)

list

Access entries in a list using index syntax such as `v[1]`. Note that Python uses 0-indexing where sequences begin with index 0.

In [7]:
v[1]

-2

In [8]:
v[0]

1

In [9]:
primes[5]

13

Create a tuple using parentheses `(1,2,3)`.

In [10]:
date = (2025,1,13)

Use indexing the same as a list to access entries in a tuple.

In [11]:
date[0]

2025

There is no real difference between lists and tuples for our examples in MATH 210. So just use lists and be aware of tuples. The only thing that might come up is that tuples are immutable. That means you can't change the entries of a tuple after it is defined.

In [12]:
date[2] = 14

TypeError: 'tuple' object does not support item assignment

In [13]:
date1 = [2025,1,13]

In [14]:
date1[2] = 14

In [15]:
date1

[2025, 1, 14]

Use the builtin function `list` to convert a sequence into a list. Use the funciton `tuple` to convert a sequence into a tuple.

In [16]:
type(primes)

list

In [17]:
primes_tuple = tuple(primes)

In [18]:
print(primes_tuple)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41)

In [19]:
type(primes_tuple)

tuple

A range object is an efficient sequence of integers that we usually construct for for loops. A range object doesn't store values, instead it provides each entry when you ask for it. Use the syntax `range(a,b,step)` to create the sequence of integers from `a` to `b` with increment `step`. Use the syntax `range(a,b)` to create the sequence of integers from `a` to `b` (exclusive) with increment `1`.

In [20]:
seq1 = range(0,5)

In [21]:
print(seq1)

range(0, 5)

In [22]:
seq1[2]

2

Use `list` to convert a range object to list.

In [23]:
list1 = list(seq1)
print(list1)

[0, 1, 2, 3, 4]

In [24]:
seq2 = range(-10,12,2) # sqe2[n] = a + n*step

In [25]:
seq2[3]

-4

In [26]:
print(seq2)

range(-10, 12, 2)

In [27]:
list2 = list(seq2)

In [28]:
print(list2)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10]

In [29]:
N = 50
listN = list(range(0,N))
print(listN)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

## Builtin Functions for Sequences

The function `sum` computes the sum of the entries in a sequence.

In [30]:
w = [7,2,-4,5]
s = sum(w)
print(s)

10

In [31]:
r = range(1,6)
sum_r = sum(r)
print(sum_r)

15

In [32]:
N = 101
rN = range(1,N)
sumN = sum(rN)
print(sumN)

5050

Functions `min` and `max` return the minimum and maximum values in a sequence.

In [33]:
u = [10,-4,6,1,5]

In [34]:
min(u)

-4

In [35]:
max(u)

10