# MATH 210 Introduction to Mathematical Computing

**January 15, 2025**

* Indexing and Slicing
* List Comprehensions
* Examples

## Indexing and Slicing

Access entry of list `listname` at index `i` with syntax `listname[i]`. Recall Python uses 0-indexing and so sequences begin at index 0.

In [1]:
odd = [1,3,5,7,9,11,13,15,17]

In [2]:
odd[0]

1

In [4]:
odd[4]

9

We can also access entries counting from the end of the sequence using negative indices.

In [5]:
odd[-1]

17

In [6]:
odd[-3]

13

Select a subsequence from a sequence using syntax `listname[a:b]`. This selects entries of `listname` starting from index `a` upto (not including) index `b`.

In [8]:
odd[1:4]

[3, 5, 7]

We can drop `a` to select the sequence up to index `b`. Or drop `b` to select the sequence from `a` to the end.

In [9]:
odd[2:]

[5, 7, 9, 11, 13, 15, 17]

In [12]:
odd[:6]

[1, 3, 5, 7, 9, 11]

In [13]:
odd[:-2]

[1, 3, 5, 7, 9, 11, 13]

## List Comprehensions

A list comprehension is a Python construction that allows us to efficiently define lists. The syntax is:

```
seq = [expression for item in iterable]
```

where

* `seq` is the variable name given to the list contructed on the right of `=`
* `expression` is any Python code using variable name `item`
* `for` and `in` are keywords for the contruction
* `item` is a variable name
* `iterable` is any sequence

The result is the list of values, one entry for each value in `iterable`, where `expression` is computed for each value in `iterable`.

For example, construct the list of squares from 0 to 100.

In [16]:
squares = [n**2 for n in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Construct the sequence 0.0, 0.1, 0.2, 0.3, ... , 1.0, using a list comprehension.

In [19]:
x = [n/10 for n in range(0,11)]
print(x)

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

Construct the sequence $y_n = f(x_n)$, $x_n = nh$, $h = 0.1$, $n=0,\dots,10$, and $f(x) = 1/(x^2 + 1)$. Use the sequence to compute

$$
\frac{1}{10} \sum_{n=1}^{10} \frac{1}{x_n^2 + 1}
$$

In [26]:
h = 0.1
y = [1/((n*h)**2 + 1) for n in range(1,11)]
print(y)

[0.9900990099009901, 0.9615384615384615, 0.9174311926605504, 0.8620689655172413, 0.8, 0.7352941176470588, 0.6711409395973154, 0.6097560975609756, 0.5524861878453039, 0.5]

In [27]:
h = 0.1
x = [n*h for n in range(1,11)]
y = [1/(xn**2 + 1) for xn in x]
print(y)

[0.9900990099009901, 0.9615384615384615, 0.9174311926605504, 0.8620689655172413, 0.8, 0.7352941176470588, 0.6711409395973154, 0.6097560975609756, 0.5524861878453039, 0.5]

In [28]:
h*sum(y)

0.7599814972267898

In [29]:
len(y)

10

In [30]:
3.14159/4

0.7853975

In [35]:
N = 100000
h = 1/N
x = [n*h for n in range(0,N+1)]
y = [1/(xn**2 + 1) for xn in x]
I = h*sum(y[1:])
print(I)

0.7853956633932816